In [1]:
import pandas as pd

In [2]:
order = pd.read_csv('data/orders.csv', sep=';', on_bad_lines='skip')
order.head()

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,department,channel,owner,site,CreatedAt
0,2000093387,2020-04-24 00:00:00,GOPAY_CARD,S101,1,NaN,3.506048,0.000000,3.496395,E-COMMER,RUN.huC,RUN.huO,top4running.hu,2020-04-24 21:50:00
1,2000093387,2020-04-24 00:00:00,GOPAY_CARD,S113,1,NaN,-0.705913,0.000000,-0.717209,E-COMMER,RUN.huC,RUN.huO,top4running.hu,2020-04-24 21:50:00
2,2000093388,2020-04-24 00:00:00,COD,ZB00089178,1,NaN,5.829845,2.209302,6.472868,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00
3,2000093388,2020-04-24 00:00:00,COD,ZB00138060,1,NaN,5.829845,2.209302,6.472868,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00
4,2000093388,2020-04-24 00:00:00,COD,ZB00015664,1,NaN,19.379845,18.731008,32.015504,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00

In [5]:
order.shape

(2128524, 14)

In [29]:
order.isna().sum()

order_id               0
date                   0
payment                0
item_code              0
quantity               0
unit_price_vat_excl    0
unit_cogs              0
unit_rrp_vat_excl      0
department             0
channel                0
owner                  0
site                   0
CreatedAt              0
dtype: int64

In [14]:
# Fill NA values of paymemt with most commmon value

order['payment'] = order['payment'].fillna(order['payment'].mode().iloc[0])

In [17]:
# Drop gift_quantity column as it has many NA values

order = order.drop(columns='gift_quantity')

In [28]:
# Fill "unit_price_vat_excl" NA value with 1.2709687956757783 which is the average multiplier between unit price & unit rrp

order['unit_rrp_vat_excl'] = order['unit_rrp_vat_excl'].fillna(order['unit_price_vat_excl'] * 1.2709687956757783)

In [30]:
order.to_csv('order_cleaned.csv', index=False)