In [1]:
import pandas as pd

In [5]:
order = pd.read_csv('data/order_cleaned.csv')
order.head()

,order_id,date,payment,item_code,quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,department,channel,owner,site,CreatedAt
0,2000093387,2020-04-24 00:00:00,GOPAY_CARD,S101,1,3.506048,0.000000,3.496395,E-COMMER,RUN.huC,RUN.huO,top4running.hu,2020-04-24 21:50:00
1,2000093387,2020-04-24 00:00:00,GOPAY_CARD,S113,1,-0.705913,0.000000,-0.717209,E-COMMER,RUN.huC,RUN.huO,top4running.hu,2020-04-24 21:50:00
2,2000093388,2020-04-24 00:00:00,COD,ZB00089178,1,5.829845,2.209302,6.472868,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00
3,2000093388,2020-04-24 00:00:00,COD,ZB00138060,1,5.829845,2.209302,6.472868,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00
4,2000093388,2020-04-24 00:00:00,COD,ZB00015664,1,19.379845,18.731008,32.015504,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00

In [6]:
items = pd.read_csv('data/items_cleaned.csv')
items.head()

,item_code,item_name,style,brand_id,name,group0,group1,category,gender,age,color,size
0,ZB00210815,TRAIN TECH EVOKNIT SS TEE,52011123,86,Puma,Apparel,T-Shirts,fitness,men,adults,Orange,L
1,ZB00210821,TRAIN TECH EVOKNIT SS TEE,52011130,86,Puma,Apparel,T-Shirts,fitness,men,adults,Yellow,XL
2,ZB00261295,LIGA Baselayer Tee LS,655920-027,86,Puma,Apparel,T-Shirts,football,men,adults,Green,L
3,ZB00263983,Nike Tiempo Legend 9 Academy SG-Pro AC,db0628-176,84,Nike,Footwear,Football shoes,football,unisex,adults,White,39
4,ZB00261402,BVB Shorts Replica 2021/22,75907802,86,Puma,Apparel,Pants,football,men,adults,Black,XL

In [8]:
items.shape

(222419, 12)

In [55]:
df = order.merge(items, on='item_code')

In [56]:
df['date'] = pd.to_datetime(df['date'])

In [60]:
df

,date,payment,quantity,unit_price_vat_excl,site,item_name,name,group0,group1,category,gender,age,color,size,total_revenue
0,2020-04-24,GOPAY_CARD,1,3.506048,top4running.hu,Dopravné,- žádný výrobce -,Other,Running shoes,football,men,adults,Black,M,3.506048
1,2020-04-24,COD,1,1.889922,11teamsports.cz,Dopravné,- žádný výrobce -,Other,Running shoes,football,men,adults,Black,M,1.889922
2,2020-04-24,COD,1,1.889922,11teamsports.cz,Dopravné,- žádný výrobce -,Other,Running shoes,football,men,adults,Black,M,1.889922
3,2020-04-24,COD,1,3.737403,11teamsports.sk,Dopravné,- žádný výrobce -,Other,Running shoes,football,men,adults,Black,M,3.737403
4,2020-04-24,CARD_CSOB,1,1.889922,top4sport.cz,Dopravné,- žádný výrobce -,Other,Running shoes,football,men,adults,Black,M,1.889922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2128519,2022-01-14,COD,1,58.685039,top4fitness.es,FLASHFILM TRAIN 20,Reebok,Footwear,Fitness Shoes,fitness,men,adults,Black,44,58.685039
2128520,2022-01-14,COD,1,39.647953,top4fitness.sk,PRIME WHEY- 100 % Whey Isolate & Concentrate B...,QNT,Nutrition,Hydrate,football,unisex,adults,Black,ks,39.647953
2128521,2022-01-14,COD,1,88.027558,top4running.ie,Guide 14 W,Saucony,Footwear,Running shoes,running,women,adults,Blue,42,88.027558
2128522,2022-01-14,COD,1,21.942636,11teamsports.cz,teamRISE Sideline Jacket,Puma,Footwear,Running shoes,football,men,adults,Black,M,21.942636
2128523,2022-01-14,COD,1,112.516000,top4running.sk,W Lone Peak 5,Altra,Footwear,Running shoes,running,women,adults,Pink,39,112.516000

In [58]:
df = df.drop(columns=['order_id','item_code','owner','channel','department','brand_id','CreatedAt','style','unit_cogs','unit_rrp_vat_excl'])

In [59]:
df['total_revenue'] = df['quantity'] * df['unit_price_vat_excl']

In [62]:
df = df.drop(columns=['quantity','unit_price_vat_excl'])

In [68]:
df = df.rename(columns={'name':'brand_name'})

In [71]:
df = df.sort_values('date')

In [72]:
df.to_csv('final_data.csv', index=False)